td, th{
  text-align: center;
}

tr:hover {
    background-color: #f2f2f2;
}

#savedGroups_table{
  width: 50%;
}

.remove-margin{
	margin-bottom: 0px;
}

#loading-image{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
}

button{
  color: black;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
    touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

button:hover {
    background-color: #bfbfbf;
}

.fragment {
    position: fixed;
    min-height: 80px;
    width: 270px;
    right: 20px;
    bottom: 10px;
}

.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    text-decoration: none;
}

#close {
    float:right;
    display:inline-block;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    animation-delay: 1s;
}

/* (bouncing animation) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } 
}